In [1]:
import pandas as pd
import numpy as np

In [45]:
xauusd = pd.read_csv('xauusd_d.csv')

xauusd.Date = pd.to_datetime(xauusd.Date)
xauusd.set_index('Date', inplace=True)
xauusd.head()

            us_gold
Date
1990-01-02    402.1
1990-01-03    396.4
1990-01-04    400.8
1990-01-05    408.5
1990-01-08    405.0

In [22]:
xaueur = pd.read_csv('xaueur_d.csv')

xaueur.Date = pd.to_datetime(xaueur.Date)
xaueur.set_index('Date', inplace=True)
xaueur.head()

            eur_gold
Date
1971-01-04     70.43
1971-01-05     70.65
1971-01-06     70.44
1971-01-07     70.43
1971-01-08     70.41

In [23]:
xaugbp = pd.read_csv('xaugbp_d.csv')

xaugbp.Date = pd.to_datetime(xaugbp.Date)
xaugbp.set_index('Date', inplace=True)
xaugbp.head()

            gbp_gold
Date
1984-01-09    259.87
1984-01-16    265.18
1984-01-23    258.05
1984-01-30    268.31
1984-02-06    275.26

In [24]:
xauaud = pd.read_csv('xauaud_d.csv')

xauaud.Date = pd.to_datetime(xauaud.Date)
xauaud.set_index('Date', inplace=True)
xauaud.head()

            aud_gold
Date
1984-01-09    411.37
1984-01-16    407.52
1984-01-23    407.09
1984-01-30    414.25
1984-02-06    421.58

In [25]:
xauchf = pd.read_csv('xauchf_d.csv')

xauchf.Date = pd.to_datetime(xauchf.Date)
xauchf.set_index('Date', inplace=True)
xauchf.head()

            chf_gold
Date
1971-01-04    162.78
1971-01-05    163.00
1971-01-06    162.57
1971-01-07    162.50
1971-01-08    162.50

In [26]:
xaujpy = pd.read_csv('xaujpy_d.csv')

xaujpy.Date = pd.to_datetime(xaujpy.Date)
xaujpy.set_index('Date', inplace=True)
xaujpy.head()

            jpy_gold
Date
1984-01-09    863.43
1984-01-16    866.54
1984-01-23    858.52
1984-01-30    879.12
1984-02-06    908.32

In [28]:
xaucad = pd.read_csv('xaucad_d.csv')

xaucad.Date = pd.to_datetime(xaucad.Date)
xaucad.set_index('Date', inplace=True)
xaucad.head()

            cad_gold
Date
1984-01-09    461.02
1984-01-16    463.66
1984-01-23    457.99
1984-01-30    467.92
1984-02-06    483.20

In [36]:
crude_us = pd.read_csv('cl_us_d.csv')

crude_us.Date = pd.to_datetime(crude_us.Date)
crude_us.set_index('Date', inplace=True)
crude_us.head()

            us_crude
Date
1990-01-02     22.89
1990-01-03     23.68
1990-01-04     23.41
1990-01-05     22.03
1990-01-08     21.03

In [37]:
crude_eur = pd.read_csv('cleur_f_d.csv')

crude_eur.Date = pd.to_datetime(crude_eur.Date)
crude_eur.set_index('Date', inplace=True)
crude_eur.head()

            eur_crude
Date
1983-03-30      36.59
1983-03-31      36.51
1983-04-04      36.51
1983-04-05      36.84
1983-04-06      36.99

In [38]:
crude_chf = pd.read_csv('clchf_f_d.csv')

crude_chf.Date = pd.to_datetime(crude_chf.Date)
crude_chf.set_index('Date', inplace=True)
crude_chf.head()

            chf_crude
Date
1983-03-30      61.28
1983-03-31      61.08
1983-04-04      61.00
1983-04-05      60.96
1983-04-06      61.15

In [46]:
all_commodities = xauusd.join([xaueur, xaugbp, xauchf, xaujpy, xaucad, xauaud, crude_us, crude_eur, crude_chf], how='outer')

In [47]:
all_commodities.to_csv('all_commodities.csv')