In [5]:
import pandas as pd
import numpy as np

In [3]:
us_libor = pd.read_csv('USLIBOR.csv')

In [9]:
us_libor.us_libor = us_libor.us_libor.replace('.', np.nan)

In [12]:
us_libor.us_libor = us_libor.us_libor.fillna(method='ffill')

In [21]:
us_libor.us_libor = us_libor.us_libor.astype(float)

In [23]:
us_libor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4339 entries, 0 to 4338
Data columns (total 2 columns):
Date        4339 non-null object
us_libor    4339 non-null float64
dtypes: float64(1), object(1)
memory usage: 67.9+ KB

In [24]:
us_libor.Date = pd.to_datetime(us_libor.Date)
us_libor.set_index('Date', inplace=True)

In [25]:
us_libor.head()

            us_libor
Date
2001-01-02   6.65125
2001-01-03   6.65375
2001-01-04   6.09625
2001-01-05   6.01625
2001-01-08   6.01500

In [38]:
uk_libor = pd.read_csv('UkLIBOR.csv')

In [39]:
uk_libor.head()

     Date uk_libor
0  1/2/01  5.81094
1  1/3/01   6.0975
2  1/4/01  5.57125
3  1/5/01  5.37813
4  1/8/01      5.5

In [40]:
uk_libor.uk_libor = uk_libor.uk_libor.replace('.', np.nan)

In [41]:
uk_libor.uk_libor = uk_libor.uk_libor.fillna(method='ffill')

In [42]:
uk_libor.uk_libor = uk_libor.uk_libor.astype(float)

In [43]:
uk_libor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 2 columns):
Date        4337 non-null object
uk_libor    4337 non-null float64
dtypes: float64(1), object(1)
memory usage: 67.8+ KB

In [44]:
uk_libor.Date = pd.to_datetime(uk_libor.Date)
uk_libor.set_index('Date', inplace=True)

In [45]:
uk_libor.head()

            uk_libor
Date
2001-01-02   5.81094
2001-01-03   6.09750
2001-01-04   5.57125
2001-01-05   5.37813
2001-01-08   5.50000

In [138]:
eu_libor = pd.read_csv('eulibor.csv')

In [139]:
eu_libor.head()

     Date  euro_libor
0  1/2/01     4.84125
1  1/3/01     4.83250
2  1/4/01     4.82250
3  1/5/01     4.78000
4  1/8/01     4.77625

In [48]:
eu_libor.euro_libor = eu_libor.euro_libor.replace('.', np.nan)

In [49]:
eu_libor.euro_libor = eu_libor.euro_libor.fillna(method='ffill')

In [108]:
eu_libor.euro_libor = eu_libor.euro_libor.astype(float)

In [140]:
eu_libor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4175 entries, 0 to 4174
Data columns (total 2 columns):
Date          4175 non-null object
euro_libor    4175 non-null float64
dtypes: float64(1), object(1)
memory usage: 65.3+ KB

In [141]:
eu_libor.Date = pd.to_datetime(eu_libor.Date)
eu_libor.set_index('Date', inplace=True)

In [142]:
eu_libor.head()

            euro_libor
Date
2001-01-02     4.84125
2001-01-03     4.83250
2001-01-04     4.82250
2001-01-05     4.78000
2001-01-08     4.77625

In [143]:
eu_libor[eu_libor.euro_libor == 0]

Empty DataFrame
Columns: [euro_libor]
Index: []

In [149]:
CHF_libor = pd.read_csv('ChfLIBOR.csv')

In [150]:
CHF_libor.head()

     Date  chf_libor
0  1/2/01    3.36833
1  1/3/01    3.45333
2  1/4/01    3.50000
3  1/5/01    3.56667
4  1/8/01    3.55000

In [59]:
CHF_libor.chf_libor = CHF_libor.chf_libor.replace('.', np.nan)

In [60]:
CHF_libor.chf_libor = CHF_libor.chf_libor.fillna(method='ffill')

In [61]:
CHF_libor.chf_libor = CHF_libor.chf_libor.astype(float)

In [151]:
CHF_libor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3875 entries, 0 to 3874
Data columns (total 2 columns):
Date         3875 non-null object
chf_libor    3875 non-null float64
dtypes: float64(1), object(1)
memory usage: 60.6+ KB

In [152]:
CHF_libor.Date = pd.to_datetime(CHF_libor.Date)
CHF_libor.set_index('Date', inplace=True)

In [153]:
CHF_libor[CHF_libor.chf_libor == 0]

Empty DataFrame
Columns: [chf_libor]
Index: []

In [69]:
jap_libor = pd.read_csv('JpyLIBOR.csv')

In [70]:
jap_libor.head()

     Date jpy_libor
0  1/2/01    0.7125
1  1/3/01    0.8525
2  1/4/01   1.58125
3  1/5/01   1.16875
4  1/8/01   0.90875

In [71]:
jap_libor.jpy_libor = jap_libor.jpy_libor.replace('.', np.nan)

In [72]:
jap_libor.jpy_libor = jap_libor.jpy_libor.fillna(method='ffill')

In [73]:
jap_libor.jpy_libor = jap_libor.jpy_libor.astype(float)

In [74]:
jap_libor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 2 columns):
Date         4337 non-null object
jpy_libor    4337 non-null float64
dtypes: float64(1), object(1)
memory usage: 67.8+ KB

In [75]:
jap_libor.Date = pd.to_datetime(jap_libor.Date)
jap_libor.set_index('Date', inplace=True)

In [76]:
jap_libor.head()

            jpy_libor
Date
2001-01-02    0.71250
2001-01-03    0.85250
2001-01-04    1.58125
2001-01-05    1.16875
2001-01-08    0.90875

In [86]:
ef_fed_fund_rate = pd.read_csv("Effective Federal Funds Rate.csv")

In [87]:
ef_fed_fund_rate.us_effr = ef_fed_fund_rate.us_effr.replace('.', np.nan)

In [88]:
ef_fed_fund_rate.us_effr = ef_fed_fund_rate.us_effr.fillna(method='ffill')

In [89]:
ef_fed_fund_rate.Date = pd.to_datetime(ef_fed_fund_rate.Date)
ef_fed_fund_rate.set_index('Date', inplace=True)

In [90]:
ef_fed_fund_rate.us_effr = ef_fed_fund_rate.us_effr.astype(float)
ef_fed_fund_rate.head()

            us_effr
Date
2000-07-03     7.03
2000-07-04     6.54
2000-07-05     6.52
2000-07-06     6.51
2000-07-07     6.42

In [91]:
eonia = pd.read_csv('EONIA 4779.csv')

In [94]:
eonia.Date = pd.to_datetime(eonia.Date)
eonia.set_index('Date', inplace=True)

In [96]:
eonia.head()

            Eonia Rate
Date
2017-08-16      -0.358
2017-08-15      -0.356
2017-08-14      -0.355
2017-08-11      -0.356
2017-08-10      -0.353

In [97]:
sonia = pd.read_csv('EURIBOR_SONIA.csv')

In [99]:
sonia.Date = pd.to_datetime(sonia.Date)
sonia.set_index('Date', inplace=True)

In [160]:
all_rates = us_libor.join([uk_libor, eu_libor, CHF_libor, jap_libor, ef_fed_fund_rate, eonia, sonia], how='outer')

In [161]:
all_rates.head()

,us_libor,uk_libor,euro_libor,chf_libor,jpy_libor,us_effr,Eonia Rate,EURIBOR,SONIA
Date,,,,,,,,,
1999-01-04,NaN,NaN,NaN,NaN,NaN,NaN,3.20,3.234,5.8700
1999-01-05,NaN,NaN,NaN,NaN,NaN,NaN,3.20,3.222,5.7075
1999-01-06,NaN,NaN,NaN,NaN,NaN,NaN,3.21,3.214,5.9969
1999-01-07,NaN,NaN,NaN,NaN,NaN,NaN,3.21,3.206,6.1644
1999-01-08,NaN,NaN,NaN,NaN,NaN,NaN,3.21,3.196,6.0579

In [162]:
all_rates[all_rates.euro_libor == 0]

Empty DataFrame
Columns: [us_libor, uk_libor, euro_libor, chf_libor, jpy_libor, us_effr, Eonia Rate, EURIBOR, SONIA]
Index: []

In [163]:
all_rates.to_csv('all_rates.csv')