In [1]:
import pandas as pd
import numpy as np

In [4]:
us_10year = pd.read_csv('10 Year Bond US.csv')

In [6]:
us_10year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8934 entries, 0 to 8933
Data columns (total 2 columns):
Date                      8934 non-null object
us_10year_bond_futures    8934 non-null float64
dtypes: float64(1), object(1)
memory usage: 139.7+ KB

In [7]:
us_10year.Date = pd.to_datetime(us_10year.Date)
us_10year.set_index('Date', inplace=True)
us_10year.head()

            us_10year_bond_futures
Date
1982-05-03                   63.50
1982-05-04                   64.00
1982-05-05                   64.12
1982-05-06                   65.06
1982-05-07                   65.31

In [8]:
us_2year = pd.read_csv('2 Year Bond US.csv')

In [9]:
us_2year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6927 entries, 0 to 6926
Data columns (total 2 columns):
Date                     6927 non-null object
us_2year_bond_futures    6927 non-null float64
dtypes: float64(1), object(1)
memory usage: 108.3+ KB

In [11]:
us_2year.Date = pd.to_datetime(us_2year.Date)
us_2year.set_index('Date', inplace=True)
us_2year.head()

            us_2year_bond_futures
Date
1990-01-02                   7.87
1990-01-03                   7.94
1990-01-04                   7.92
1990-01-05                   7.90
1990-01-08                   7.90

In [12]:
us_30year = pd.read_csv('30 Year Bond US.csv')

In [13]:
us_30year.head()

      Date  us_30year_bond_features
0  8/22/77                    83.44
1  8/23/77                    83.81
2  8/24/77                    83.62
3  8/25/77                    83.88
4  8/26/77                    83.94

In [14]:
us_30year.Date = pd.to_datetime(us_30year.Date)
us_30year.set_index('Date', inplace=True)
us_30year.head()

            us_30year_bond_features
Date
1977-08-22                    83.44
1977-08-23                    83.81
1977-08-24                    83.62
1977-08-25                    83.88
1977-08-26                    83.94

In [15]:
uk_gilt = pd.read_csv('UK Gilt.csv')

In [17]:
uk_gilt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4743 entries, 0 to 4742
Data columns (total 2 columns):
Date       4743 non-null object
uk_gilt    4743 non-null float64
dtypes: float64(1), object(1)
memory usage: 74.2+ KB

In [18]:
uk_gilt.Date = pd.to_datetime(uk_gilt.Date)
uk_gilt.set_index('Date', inplace=True)
uk_gilt.head()

            uk_gilt
Date
1998-09-01   111.94
1998-09-02   111.88
1998-09-03   112.31
1998-09-04   112.25
1998-09-08   112.31

In [19]:
jap_bond = pd.read_csv('Japan Government Bond.csv')

In [20]:
jap_bond.head()

      Date  jpy_bond_price
0   8/8/02          139.93
1   8/9/02          140.16
2  8/12/02          140.27
3  8/13/02          140.10
4  8/14/02          140.42

In [21]:
jap_bond.Date = pd.to_datetime(jap_bond.Date)
jap_bond.set_index('Date', inplace=True)
jap_bond.head()

            jpy_bond_price
Date
2002-08-08          139.93
2002-08-09          140.16
2002-08-12          140.27
2002-08-13          140.10
2002-08-14          140.42

In [22]:
all_bonds = us_2year.join([us_10year, us_30year, uk_gilt, jap_bond], how='outer')

In [23]:
all_bonds.to_csv('all_bonds.csv')